<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    
    <!-- Utilizando o EJS podemos pegar todo o conteudo assets gerado. -->
    <style>
        <%= compilation.assets['crp.css'].source()  %>
    </style>
</head>
<body>
    <div data-js="app"></div>

    <!-- Carregando os scripts de forma assincrona -->
    <% htmlWebpackPlugin.files.js.forEach((jsFile) => { %>
        <script async src="<%= jsFile %>"></script> 
    <% }) %>

    <% htmlWebpackPlugin.files.css.forEach((cssFile) => { %>
        <% if (cssFile !== 'crp.css') { %>
            <link rel="stylesheet" href="<%= cssFile %>"></script> 
        <% } %>
    <% }) %>
    
</body>
</html>